<!-- create_post.html -->
{% extends "base.html" %}

{% block content %}
<h1>Crear un Nuevo Post</h1>
<form method="post" action="{% url 'create_post' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <label for="categories">Categorías:</label>
    <select name="categories" id="categories" multiple>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Crear Post</button>
</form>
{% endblock %}
