<!DOCTYPE html>
<html>
<head>
    <title>Tu Sitio</title>
    <!-- Tus estilos CSS, enlaces a Bootstrap, etc. -->
</head>
<body>
    <div class="menu">
        <ul>
            <li class="{% if active_tab == 'inicio' %}active{% endif %}"><a href="/">Inicio</a></li>
            <li class="{% if active_tab == 'cosmetica' %}active{% endif %}"><a href="{% url 'category_cosmetica' %}" target="_blank">Cosmética</a></li>
            <li class="{% if active_tab == 'maquillaje' %}active{% endif %}"><a href="{% url 'category_maquillaje' %}" target="_blank">Maquillaje</a></li>
            <li class="{% if active_tab == 'dermocosmetica' %}active{% endif %}"><a href="{% url 'category_dermocosmetica' %}" target="_blank">Dermocosmética</a></li>
            <li class="{% if active_tab == 'perfumeria' %}active{% endif %}"><a href="{% url 'category_perfumeria' %}" target="_blank">Perfumería</a></li>
            <li class="{% if active_tab == 'formaciones' %}active{% endif %}"><a href="{% url 'category_formaciones' %}" target="_blank">Formaciones</a></li>
            <li class="{% if active_tab == 'contacto' %}active{% endif %}"><a href="{% url 'category_contacto' %}" target="_blank">Contacto</a></li>
        </ul>
    </div>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
